# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
data/
logs/
*.o[0-9]*
*.pt
*.npz

# Personal notes
log.MD.old_figures/
.virtual_documents/
notebooks/04_ml_with_momentum.ipynb
